.container_for_all_recipes {
    font-family: 'Architects Daughter', cursive;
    width: 50%;
    max-height: max-content;
  }
  .section {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 6rem;
    min-height: 100vh;
    gap: 20%;
    gap: 40px;
}